<!DOCTYPE html>
<html lang="en">
  <head>
        <% include ../partials/head.ejs%>
  </head>
  <body> 
        <% include ../partials/nav.ejs %>
      <main class="container">
            <div class="index">
        <% cards.forEach((card)=> { %>
                <a href="#"><img src="<%=card.cardInfo.image%>"></a>

        <%})%>
    </div>
      </main>
      <% include ../partials/scripts.ejs %>
    </body>
</html>